.row{
    margin: 0;
}

/* FORM SUBMIT BUTTON */
.btn {
    background-color: lightgray;
}

/* CARDS REWARD HOVER EFFECT */
.card-img-overlay{
    display: none;
}

.card:hover > .card-img-overlay{
    display: flex;
}

/* FOOTER LINKS */
footer a{
    text-decoration: none;
    color:rgba(255,255,255,.5);
}

footer a:hover{
    text-decoration: none;
    color: rgb(210, 209, 209);
}